// font
$segoe: "SegoeU I", "Arial", sans-serif;

// color
$c-white: #ffffff;
$c-black: #000000;
$c-gray: #888888;

// width
$w-site-wrapper-dt: 640px;
$w-site-wrapper-mb: 340px;
$w-layout-dt: 1440px;
$w-layout-mb: 375px;

// @media
$media-dt: 1023px;
$media-tb: 767px;
$media-mb: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
